@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');

.pageTitle {
  font-size: 100px;
  font-family: 'Mountains of Christmas', serif;
  margin: 10px;
}

@media screen and (max-width: 600px) {
  .pageTitle {
    font-size: 40px;
  }
}
