.wishCardContainer {
  margin: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px grey;
  text-decoration: none;
  background-color: rgba(245, 245, 245, 0.595);
}

.wishCardContainer:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px green;
}

.wishCardImg {
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.wishCardText {
  margin: 10px;
  color: rgba(0, 0, 0, 0.702);
  font-family: Arial, Helvetica, sans-serif;
}
