.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wishes {
  display: inline-flex;
}

.villageImg {
  position: fixed;
  z-index: -1;
  width: 100dvw;
  height: 70dvh;
  bottom: 0px;
}
