.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wishes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.background {
  position: fixed;
  z-index: -1;
  width: 100dvw;
  height: 100dvh;
  bottom: 0px;
}

@media screen and (max-width: 600px) {
  .wishes {
    flex-direction: column;
    align-items: center;
  }
  .villageImg {
    height: 40dvh;
  }
}
